<div class="contact section">
  <img class="contact__bg" src="../../../assets/images/contact_image.svg" />
  <h2>CONTACT</h2>
  <div class="contact__form">
    <input type="text" placeholder="Introduceți mail-ul aici..." name="mail" required>
    <button class="contact__button button__animation" type="submit">Alătură-te</button>
  </div>
    <ul class="contact__social">
      <li><a class="button__animation" href="https://www.facebook.com"><img src="../../../assets/images/f.svg "></a></li>
      <li><a class="button__animation" href="https://www.instagram.com"><img src="../../../assets/images/i.svg"></a></li>
      <li><a class="button__animation" href="https://www.pinterest.ca"><img src="../../../assets/images/p.svg"></a></li>
    </ul>
</div>
