<nav class="menu">
  <div class="menu--left">
    <h1>Bookfluent</h1>
    <p>Ecou in eternitate</p>
  </div>
  <ul class="menu--right">
    <li><a href="#" class="menu--right__button">ACASĂ</a></li>
    <li><a href="#" class="menu--right__button">DESPRE</a></li>
    <li><a href="#" class="menu--right__button">RECENZII</a></li>
    <li><a href="#" class="menu--right__button">ȘTIAȚI CĂ...?</a></li>
    <li><a href="#" class="menu--right__button">CONTACT</a></li>
    <li><button class="menu__button--login">LOGHEAZĂ-TE</button></li>
  </ul>
</nav>
