<div class="about">
  <div class="about__bg">
  </div>
  <h2>DESPRE</h2>
  <div class="about__cards">
    <div class="about__card">
      <h3>Well written</h3>
      <h4>Fact checked reviews</h4>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
      <p>
        Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat .Lorem ipsum dolor
        sitamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <span class="card__wave">
        <div class="wave"></div>
        <div class="wave"></div>
      </span>
    </div>
    <div class="about__card">
      <h3>A lot of books</h3>
      <h4>Likeable for everyone</h4>
      <br>
      <p>
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
        texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      </p>
      <p>
        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
        paradisematic country, in which roasted parts of sentences fly into your mouth.Even the all-powerful Pointing
        has no control about the blind texts it is an almost unorthographic life
      </p>

        <div class="wave"></div>
        <div class="wave"></div>

    </div>
    <div class="about__card">
      <h3>Best reviews</h3>
      <h4>Also with pictures</h4>
      <br>
      <p>
        One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of
        Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks
        and devious Semikoli, but the Little Blind Text didn’t listen.
      </p>
      <span class="card__wave">
        <div class="wave"></div>
        <div class="wave"></div>
      </span>
    </div>
  </div>
</div>
