<div class="reviews section">
    <h2>RECENZII</h2>
    <div class="reviews__cards">
        <div class="reviews__card">
            <span></span>
            <h3>Good Omens</h3>
            <h4>Terry Pratchett and Neil Gaiman</h4>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
            <button class="button__animation">Book review</button>
        </div>
        <div class="reviews__card">
            <h3>Good Omens</h3>
            <h4>Terry Pratchett and Neil Gaiman</h4>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
            <button class="button__animation">Book review</button>
        </div>
        <div class="reviews__card">
            <h3>Good Omens</h3>
            <h4>Terry Pratchett and Neil Gaiman</h4>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
            <button class="button__animation">Book review</button>
        </div>
        <div class="reviews__card">
            <h3>Good Omens</h3>
            <h4>Terry Pratchett and Neil Gaiman</h4>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
            <button class="button__animation">Book review</button>
        </div>
    </div>
</div>
